body{
  display: grid;
  grid-template-areas:
    "header header header"
    "left main right"
    ". pre__footer ."
    "footer footer footer";
  grid-template-columns: 1fr minmax(500px, 1200px) 1fr;
  grid-template-rows: 200px auto 10vh 100px; /*vh - процент от размера экрана*/
}

main{
  display: grid;
  grid-area: main;
  grid-template:
    "main"
    "main"
    / 1fr;
}

header{
  display: grid;
  grid-area: header;
  grid-template:
    "logo navi"
    / 1fr 1fr;
}

.text_about{
  margin: 20px auto 20px auto;
  font-family: calibri;
  text-align: justify;
  text-indent: 15px;
}

.form__connect{
  width: 500px;
  text-align: center;
  background-color: #1f0e11;
  border: 3px solid #8a3e4c;
  border-radius: 2%;
  color: #778899;
  padding: 16px 25px;
  margin: 20px auto 20px auto;
}

legend{
  color: #8a3e4c;
  font-family: calibri;
  font-size: 80%;
  font-weight: bold;
  margin: 10px auto;
}

.form__question{
  color: #8a3e4c;
  font-family: calibri;
  font-size: 70%;
  margin-top: 5px;
  margin-bottom: 30px;
}

.form__question select{
  font-family: calibri;
  color: #000000;
}

input[type=name] {
  width: 248px;
  height: 33px;
  /* padding: 12px 20px;*/
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  font-family: calibri;
}

input[type=email] {
  width: 247px;
  height: 33px;
  /* padding: 12px 20px; */
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  font-family: calibri;
}

textarea[type=text] {
  width: 504px;
  height: 200px;
  /* padding: 12px; */
  margin-top: 5px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  font-family: calibri;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #1f0e11;
    border: 3px solid #778899;
    border-radius: 5%;
    color: #778899;
    padding: 16px 25px;
    font-family: calibri;
    font-size: 80%;
    margin: 4px 2px;
    cursor: pointer;
}
