/* (600px) and (767px) */

@media screen and (min-width: 600px) and (max-width: 900px){

  body{
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "pre__footer"
      "footer";
    grid-template-columns: minmax(500px, 1200px);
    grid-template-rows: 200px auto 15vh 10vh; /*vh - процент от размера экрана*/
  }

  main{
    display: grid;
    grid-area: main;
    grid-template:
      "image1"
      "image1"
      "image1"
      "image1"
      "image1"
      "image1"
      "image1"
      "image1"
      "image1"
      / 1fr;
  }

.text{
  display:none;
}

.image img{
  transform: none;
  transition: none;
}

.image img:hover{
  transform: none;
  transition: none;
}

/* #logo{
display:none;
} */

#navi span{
  display: list-item;
  margin-top: 1rem;
  margin-left: 5rem;
  font-family: calibri;
  font-size: 130%;
  border: none;
  width: none;
  height: none;
  line-height: none;
  border-radius: none;;
  text-align: none;
  list-style-type: none;
}
}

/* (599px) */
@media screen and (max-width: 599px){

  body{
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "pre__footer"
      "footer";
    grid-template-columns: minmax(500px, 1200px);
    grid-template-rows: 200px auto 25vh 10vh; /*vh - процент от размера экрана*/
  }

  main{
    display: grid;
    grid-area: main;
    grid-template:
      "image1"
      "image1"
      "image1"
      "image1"
      "image1"
      "image1"
      "image1"
      "image1"
      "image1"
      / 1fr;
  }

.text{
  display:none;
}

.image img{
  transform: none;
  transition: none;
}

.image img:hover{
  transform: none;
  transition: none;
}

/* #logo{
display:none;
} */

#navi span{
  display: list-item;
  margin-top: 1rem;
  margin-left: 5rem;
  font-family: calibri;
  font-size: 130%;
  border: none;
  width: none;
  height: none;
  line-height: none;
  border-radius: none;;
  text-align: none;
  list-style-type: none;
}
}
