body{
  display: grid;
  grid-template-areas:
    "header header header"
    "left main right"
    ". pre__footer ."
    "footer footer footer";
  grid-template-columns: 1fr minmax(500px, 1200px) 1fr;
  grid-template-rows: 200px auto 10vh 100px; /*vh - процент от размера экрана*/
}

main{
  display: grid;
  grid-area: main;
  grid-template:
    "image1 image1 image1" 1fr
    "text1 text1 text1"
    "image2 image2 ." 1fr
    "text2 text2 ."
    / 1fr 1fr 1fr;
}

header{
  display: grid;
  grid-area: header;
  grid-template:
    "logo navi"
    / 1fr 1fr;
}
